.table2CellStyle {
    padding: 8px;
    text-align: center;
    border-right: hidden;
    margin-top: 30px;
}

.cartHeading {
    padding-top: 20px;
}

.totalPrice {
    padding-top: 35px;
}

.emptyCart {
    text-align: center;
    justify-content: center;
}

.emptyCartHeading {
    margin-top: 30px;
}

.checkOutHeading {
    padding-top: 20px;
    font-family: 'robotoMedium';
}

.textField {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}